VITE_API_URL=http://localhost:3000
VITE_DEPARTMENTS="Computer Science & Engineering,Information Technology,Electronics & Communication,Electrical Engineering,Mechanical Engineering,Civil Engineering,Chemical Engineering,Biotechnology,Metallurgical & Materials,Mining Engineering"
VITE_PORT=5173
